extends ../shared/pre-login

block content
  #home-logo
    img(src='/img/logo.svg')

  a.index-link(href='/student/login') Student Login
  .clear
  a.index-link(href='/teacher/login') Teacher Login
  .clear
  a.index-link(href='/register') Create Account
